@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <!-- Content here -->
    <h1 class="text-center ">Maze <i class="bi bi-dpad"></i> Game </h1>
    <div class="d-flex gap-2">
        <!--WIDTH-->
        <div class="input-group ">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-arrows"></i></span>
            <input type="number" min="5" max="9999" class="form-control" placeholder="5" aria-label="width" aria-describedby="basic-addon1">
        </div>
        <!--HEIGHT-->
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-arrows-vertical"></i></span>
            <input type="number" min="5" max="9999" class="form-control" placeholder="5" aria-label="height" aria-describedby="basic-addon1">
        </div>
    </div>
    <button class="btn btn-dark"> Test Recursive Backtracking</button>
</div>

