    .maze-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .maze-grid {
        display: grid;
        gap: 0;
    }

    .maze-cell {
        width: 13px;
        height: 13px;
        border: none;
    }

    .wall-cell {
        background-color: #6c757d;
    }

    .path-cell {
        background-color: #212529;
    }
    .solution-cell {
        background-color: #d03636;
    }